body {
    font-family: 'Poppins', sans-serif;
}

:root {
    --button: #E6AD00;
    --button-hover: #f2cc59;
    --primary: #001A9C;
    --secondary: #1940FF;
    --tertiary: #0026E6;
}

a.nav-link {
    color: var(--primary);
}

#landing {
    height: 75vh;
    background-image: linear-gradient(to right, var(--secondary), var(--tertiary));
    color: #fff
}

.what-we-do-item-image {
    max-width: 450px;
}

.company-logo {
    max-width: 200px;   
}

#get-started {
    background-image: linear-gradient(to right, var(--secondary), var(--tertiary));
    color: #fff
}



button.btn {
    background-color: var(--button)

}

button.btn:hover {
    background-color: var(--button-hover);
    color: #000;
}